
@using ISWebTest.ExtensionMethods;
@using ISWebTest.Controllers;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <a href="@(Url.Action<HomeController>(nameof(HomeController.Analyze)))">TEST</a>
    </div>
</body>
</html>
