
@using ISWebTest.ExtensionMethods;
@using ISWebTest.Controllers;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <span>Select a source JSON file to generate result pages.</span>
        @using (Html.BeginForm(nameof(HomeController.Analyze), "Home", FormMethod.Post, new { enctype = "multipart/form-data"}))
        {
            <label for="filePath">Source file:</label>
            <input type="file" name="filePath" id="filePath" />
            <input type="submit" />
        }
    </div>
</body>
</html>
